.formHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 2.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.back,
.pageNumber {
  color: #151a20;
}

.back {
  align-items: center;
  display: flex;
}

.text {
  color: #546881;
}
