.hero {
  display: flex;
  width: 100%;
  background-color: var(--dark-blue);
  height: 100vh;
  z-index: -1;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 1.5rem 10%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  flex-basis: 46%;
  color: #fff;
}

.left > h1 {
  font-size: 4.25rem;
  font-weight: 600;
  line-height: 1.2;
}

.left > p {
  line-height: 1.5;
  max-width: 550px;
  font-size: 1.5rem;
}

.heroBtn {
  background-color: #fff;
  color: var(--blue);
  font-size: 1rem;
}

.right {
  flex-basis: 40%;
}

@media (max-width: 1549px) {
  .left {
    flex-basis: 50%;
  }

  .left > h1 {
    font-size: 3.25rem;
  }

  .left > p {
    font-size: 1.2rem;
  }
}

@media (max-width: 989px) {
  .hero {
    height: 80vh;
  }

  .left {
    align-items: center;
    text-align: center;
    flex-basis: 100%;
  }

  .left > h1 {
    font-size: 4.5rem;
  }

  .left > p {
    font-size: 1.5rem;
  }

  .right {
    display: none;
  }
}
