.hero {
  display: flex;
  width: 100%;
  background-color: var(--dark-blue);
  height: 100vh;
  z-index: -1;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 1.5rem 10%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  flex-basis: 46%;
  color: #fff;
}

.left > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.7rem;
}

.left > h1 {
  font-size: 4.25rem;
  font-weight: 600;
  line-height: 1.2;
}

.left > div p {
  line-height: 1.5;
  max-width: 550px;
  font-size: 1.5rem;
}

.heroBtn {
  background-color: #fff;
  color: var(--blue);
  font-size: 1rem;
}

.right {
  flex-basis: 40%;
}

/* !===== LARGE SCREENS ===== */
@media (max-width: 1549px) {
  .left {
    flex-basis: 50%;
  }

  .left > h1 {
    font-size: 3.25rem;
  }

  .left > div p {
    font-size: 1.2rem;
  }
}

/* !===== TABLETS ===== */
@media (max-width: 1024px) {
  .hero {
    height: 80vh;
  }

  .left {
    align-items: center;
    text-align: center;
    flex-basis: 100%;
  }

  .left > h1 {
    font-size: 4.5rem;
  }

  .left > div p {
    font-size: 1.5rem;
  }

  .right {
    display: none;
  }
}

/* !===== MOBILE PHONES ===== */
@media (max-width: 559px) {
  .hero {
    height: 75vh;
    align-items: start;
    padding: 35% 10%;
  }

  .left {
    align-items: flex-start;
    text-align: left;
    gap: 1.5rem;
  }

  .left > h1 {
    font-size: 2.5rem;
  }

  .left > div p {
    font-size: 1.1rem;
  }
}
