.header {
  height: 5rem;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > :first-child {
  color: var(--blue);
}
