/* !===== GOOGLE FONTS LINKING ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* !===== RESET TO DEFAULTS ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* !===== CUSTOM CSS ===== */
:root {
  /* ?===== COLORS ===== */
  --blue: #00008c;
  --dark-blue: #00006b;
}

/* !===== GENERAL CSS ===== */
body {
  font-family: "Inter", sans-serif;
  background: #f0f8ff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

#container {
  padding: 1.5rem 13%;
}

.btn {
  padding: 0.75rem 1.5rem;
  background-color: var(--blue);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}
