/* !===== GOOGLE FONTS LINKING ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* !===== RESET TO DEFAULTS ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* !===== CUSTOM CSS ===== */
:root {
  /* ?===== COLORS ===== */
  --blue: #00008c;
  --dark-blue: #00006b;
}

/* !===== GENERAL CSS ===== */
body {
  font-family: "Inter", sans-serif;
  background: #f0f8ff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

button,
textarea {
  border: none;
  outline: none;
  background: transparent;
}

#container {
  padding: 1.5rem 13%;
}

.btn {
  padding: 0.75rem 1.5rem;
  background-color: var(--blue);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

/* !========== REGISTRATION SECTION ========== */
.next-btn {
  padding: 0.9rem;
  background: var(--blue);
  color: #f0f8ff;
  font-size: 0.9rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

select {
  font-size: 0.9rem;
  color: #090b0e;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.container {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 24px;
  max-width: 26.5rem;
  width: 85vw;
  box-shadow: 8px 8px 21px -11px rgba(66, 68, 90, 1);
}

.head {
  font-size: 0.9rem;
  font-weight: 700;
  color: #090b0e;
}

.head > span {
  color: #909dad;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

input::placeholder {
  font-size: 0.9rem;
}

input {
  font-size: 1.1rem;
}
